*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
/* desktop first */
.wrapper{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3rem 0 35rem 0;
}
header{
    
    padding-top: .2rem;
    background-color: #b1a644;

    grid-row: 1/2;
    grid-column: 1/3;
}

main{
    padding: 1rem;
    background-color: rgb(46, 118, 146);

    grid-row: 3/4;
    grid-column: 1/2;
}

footer{
    background-color: #99BFB3;
    padding-top: 2rem;
    text-align: center;
    block-size: 5rem;

    grid-row: 4/5;
    grid-column: 1/3;
}

/* mobile breakpoint*/


.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}


.sociala-links{
    width: 20px;

}

.sociala-medier ul{
    margin-bottom: 1px;
    margin-left: 15px;
}

.copyright{
    text-align: center;
    margin-top: -60px;
    color: white;
}

.footer{
    background-color: rgb(214, 84, 84);
    
}

.sociala-medier li{
    margin: 15px;
    margin-top: -15px;
}

.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px ;
}

input{
    padding: 12px;
    margin: 15px;
    width: 220px;
    border: none;
    outline: none;
}

.logo{
    width: 30px;
    margin-top: 5px;
    }

    .kontakt{
        text-align: center;
        margin-top: -40px;
        
    }

    .kontaktinfo{
        color: white;
        text-align: center;
    }
    @media (max-width: 550px){
        .wrapper{
            grid-template-columns: auto;
            grid-template-rows: 8rem 4rem auto 8rem 6rem;
        }
        header{
            grid-column: 1/2;
        }
        nav{
            grid-column: 1/2;
        }
        aside{
            grid-row: 4/5;
            grid-column: 1/2;
        }
        footer{
            grid-row: 5/6;
            grid-column: 1/2;
        }
    }